
.display {
  background-color: black;
  color: white;
  width: 100%;
  text-align: right;
  flex-grow: 1;
  max-height: 20%;
  /* margin-right: 20px; */
  /* text-indent: 5px; */
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  /* text- */
}

.display p {
  font-size: 4rem;
  padding: 4%;
  font-weight: 300;

}
